<section id="detailSection" class="detail-section">
  <div id="detail"></div>
  <div class="quotes-list">
    <h2>Quotes</h2>
    <div id="quoteList">
    </div>
  </div>
  <form id="quote-form" class="quote-form" novalidate>
    <div class="quote-input">
      <label for="quote">Quote of this show</label>
      <input id="quote" placeholder="Add your quote" class="input primary" type="text">
    </div>
    <button type="submit" class="button primary">Search</button>
  </form>
  <!--<header>
    <div class="title-section">
      <h1>Title show</h1>
    </div>
    <div class="image-container">
      <img src="http://static.tvmaze.com/uploads/images/original_untouched/50/125757.jpg">
    </div>
  </header>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam labore, impedit maxime fugiat odit quae nihil, delectus incidunt. Quos architecto sequi rem officia saepe veniam possimus deserunt dignissimos praesentium provident. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sed, unde quasi ex atque voluptate nihil quidem, culpa enim saepe officia perferendis labore explicabo veniam! Similique, quos in velit harum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam labore, impedit maxime fugiat odit quae nihil, delectus incidunt. Quos architecto sequi rem officia saepe veniam possimus deserunt dignissimos praesentium provident.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam labore, impedit maxime fugiat odit quae nihil, delectus incidunt. Quos architecto sequi rem officia saepe veniam possimus deserunt dignissimos praesentium provident.</p>
  </div>-->
</section>