<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-brand-title">
      <h2>TVMAZE</h2>
    </div>
    <h6>Find your favorite shows</h6>
    <div class="contact">
      <div class="author">
        Kevin Julián Martínez Escobar &copy;
      </div>
      <div class="social-networks">
        <a href="https://github.com/kevinccbsg">
          <i class="fab fa-github-square" aria-hidden="true"></i>
        </a>
        <a href="mailto:kevinccbsg@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/kajota93">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>